<div class="container">
  <h1>我的創意料理</h1>

  <% @recipes.each do |r| %>
    <div class="Recipe" data-id="<%= r.id %>">
      <div class="Recipe-photo" style="background-image:url(<%= r.image %>)">
        <img src="<%= r.image %>" style="opacity:0;">
      </div>
      <div class="Recipe-info" >
        <h2><%= link_to r.name, recipes_path(r.id)%></h2>
        <div class="colors">
          <span class="ColorSym <%= r.high %>"></span>
          <span class="ColorSym <%= r.medium %>"></span>
          <span class="ColorSym <%= r.low %>"></span>
        </div>
        <div class="desc">
          <%= r.description.truncate(100) %>
        </div>
      </div>
      <div class="Recipe-checkbox">

          <%= link_to '食譜細節', recipes_path(r), class: 'cta'%>
          <%= link_to '編輯食譜', edit_user_recipe_path(current_user, r), class: 'cta'%>
          <%= link_to '刪除食譜', user_recipe_path(current_user, r), method: :delete, data: { confirm: 'Are you sure?' } , class: 'cta' %>
      </div>
    </div>
  <% end %>



  <%= link_to '+ 新增我的創意料理', new_user_recipe_path %>
