<div class="container" style="margin-top:50px;">

<div class="Recipe col-md-8 col-md-offset-2" style="height:auto;padding-bottom:50px;">
	<div class="hero-photo col-md-6 animated fadeInLeft go" style="padding:15px;">
		<%= image_tag @recipe.image.url,:style => "max-height:40vh;"%>
	</div>

	<div class="title col-md-6">
	  <h3><%= @recipe.name %></h3>
	  <div class="colors">
			<% if @recipe.high %>
      	<span class="ColorSym <%= @recipe.high %>"></span>
			<% end %>
    	<% if @recipe.medium %>
      	<span class="ColorSym <%= @recipe.medium %>"></span>
			<% end %>
    	<% if @recipe.low %>
      	<span class="ColorSym <%= @recipe.low %>"></span>
			<% end %>
		</div>
	  <div ><strong>上傳人:</strong><%= @recipe.user.name %></div>
	</div>
	<div class="col-md-12">
		<hr class="" style="height: 3px; border: 0; box-shadow: inset 0 3px 3px -3px rgba(0,0,0,0.5);margin-top:0;">
	</div>
	<div class="col-md-12">
	  <strong>料理說明（食材）:</strong>
	  <%= @recipe.description %>
	</div>

</div>
<!-- </p>
<%# image_tag @recipe.image.url(:small) %>
<%# image_tag @recipe.image.url(:thumb) %>
</p> -->

<% if current_user.id == @recipe.user_id %>
	<div class="col-md-12" style="text-align: center; padding:2px;margin:10px auto;">
		<%= link_to '編輯這個食譜', edit_user_recipe_path(current_user, @recipe) ,:class=>"cta"%> |
		<%= link_to '我的全部上傳的食譜', user_recipes_path(current_user) ,:class=>"cta"%>
	</div>
<% end %>
</div>
